.DS_Store
*.sublime-project
*.sublime-workspace
.idea/

lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.map

pids
logs
results

node_modules
npm-debug.log

dump.rdb
bundle.js

data/schema*

dist
coverage
.nyc_output
ltestt.js

*.swp
data/graphdocs
data/CEP_Aberto

**/__MACOSX/
__MACOSX/

